.App {
	max-width: 960px;
	margin: 0 auto;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0;
}

nav .logo {
	font-size: 2em;
}
nav .nav-links a {
	margin-left: 40px;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}

.projects .project-item {
	border: 1px solid;
	padding: 0 10px;
}
.projects .project-item:hover {
	border-color: rgb(248, 224, 86);
}

.projects .project-item a {
	color: initial;
	text-decoration: none;
}

footer {
	margin-top: 20px;
}
footer a {
	color: initial;
}
